
.address {
  margin-top: 20px;
  &__item {
    margin-top: 9px;
  }
  &__location {
    color: $primary-white;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms $animation;

    &:hover,
    &:focus {
      color: $acent-color;
    }
  }
  &__link {
    color: $futter-link-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms $animation;

    &:hover,
    &:focus {
      color: $acent-color;
    }
  }
}