.companies {
  @include centered($content: space-between);

  &__link {
    color: $icon-social-color;
    border-radius: 4px;
    border: 1px solid $icon-social-color;
    text-decoration: none;
    padding: 16px 32px;

    transition: border-color 250ms $animation, color 250ms $animation;

    @include centered($content: space-between);

    &:focus,
    &:hover {
      color: $acent-color;
      border: 1px solid $acent-color;
    }
  }
  &__icon {
    fill: currentColor;
    transition: fill 250ms $animation;
  }
}
