.filter {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    margin-top: -15px;
  }
  @media (min-width: 768px) {
    @include centered();
  }
  &__item {
    margin-right: 8px;
    @media (max-width: 767px) {
      margin-top: 15px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.filter-margin {
  margin-bottom: 50px;
}
