body {
  font-family: $primary-font-family;
  letter-spacing: 0.03em;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
p,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding: 60px 0;

  @media (min-width: 1200px) {
    padding: 94px 0;
  }

  &__title {
    color: $title-color;
    line-height: 1.16;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}
.section--color {
  background-color: $secondary-bgc;
}
.section-withoutTopPadding {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
  padding-top: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.is-hidden {
  @extend %invisible;
}
