.footer {
  &-background {
    background-color: $footer-bgc;
    padding: 60px 0;
  }
  &__container {
    text-align: center;
    @media (min-width: 768px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}
.contacts {
  @media (max-width: 768px) {
    margin: 60px 0 0 0;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    margin: 0 0 102px 0;
  }
}
