.footer {
  &-background {
    background-color: $footer-bgc;
  }
  &__list {
    padding: 60px 0;
    text-align: center;
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
  &__item {
    margin-top: 60px;
    @media (min-width: 768px) {
      &:nth-child(2n) {
        margin-left: 165px;
        margin-top: 0;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        flex-grow: 0.5;
      }
    }
    @media (min-width: 1200px) {
      margin-top: 0;
      &:nth-child(2n) {
        margin-left: 70px;
        margin-top: 0;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        flex-grow: 1;
        margin-left: 93px;
      }
    }
  }
}
