.page-header {
  position: relative;
  border-bottom: 2px solid $header-line-color;
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      min-width: 600px;
      justify-content: space-around;
    }

    @media (min-width: 1200px) {
      justify-content: space-between;
      margin-left: 93px;
      flex-grow: 1;
    }

    @media screen and (max-width: 767px) {
      display: none;
      background-color: $primary-white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
    &.is-open {
      @media screen and (max-width: 767px) {
        display: block;
        padding: 40px 48px;
        display: flex;
        flex-direction: column;
        z-index: 5;
      }
    }
  }
}
