.info {
  @include centered();
  margin-left: auto;

  &__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    fill: $primary-text-color;
    transition: fill 250ms $animation;

    margin-right: 10px;
  }
  &__link {
    color: $primary-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    @include centered();
    transition: color 250ms $animation;
    &:hover,
    &:focus {
      color: $acent-color;
    }
    &:hover .info__icon {
      fill: $acent-color;
    }
  }
}
