.specialist {
  &__link {
    text-decoration: none;
  }
  &__photo {
    display: block;
  }
  &__name {
    color: $title-color;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-transform: uppercase;
    margin-top: 30px;
  }
  &__job {
    color: $primary-text-color;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    margin: 10px 0 16px 0;
  }
}
