$primary-text-color: #757575;
$primary-white: #ffffff;
$secondary-bgc: #f5f4fa;
$title-color: #212121;
$acent-color: #2196f3;
$button-bgc: #f5f4fa;
$footer-bgc: #2f303a;
$heroes-bgc: #c4c4c4;
$footer-thumb-bgc: rgba(255, 255, 255, 0.1);
$portfolio-card-bgc: #eeeeee;
$icon-social-color: #afb1b8;
$header-line-color: #ececec;
$futter-link-color: rgba(255, 255, 255, 0.6);
$animation: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font-family: "Roboto", "Arial", sans-serif;
$Logo-font-family: "Raleway", sans-serif;
